
/*VARIABLES*/
:root{
    --alpha-val: .4;
    --color-1: rgb(76, 131, 59);
    --color-1-alpha-lighter: rgba(76, 131, 59, var(--alpha-val));
    --color-1-alpha-darker: rgba(76, 131, 59, .75);
    --color-2: rgb(191, 76, 38);
    --color-2-alpha: rgba(191, 76, 38, var(--alpha-val));
    --color-3: rgb(145, 232, 211);
    --color-3-alpha: rgba(145, 232, 211, var(--alpha-val));
    --border-radius: 25px;
}

/*GENERAL RULES*/
    h1{
        font-size: 55px;
    }

    h2{
        font-size: 45px;
    }

    h3{
        font-size: 35px;
    }

    h4{
        font-size: 23px;
    }

    h5{
        font-size: 20px;
    }

    a{
        text-decoration: none;
    }

    p{
        font-size: 23px;
    }

    a, a:visited, a:active{
        color: inherit;
    }

    * {
        box-sizing: border-box;
        font-family: Helvetica, Arial, monospace;
    }

    header, .hero, section, footer{
        width: 100%;
    }

    header, section, footer{
        padding: 30px;
    }

    .hover-opacity:hover{
        opacity: .7;
        transition: 150ms;
    }



/*UTILITY CLASSES*/    
    .section-title{
        margin: 0 auto 30px;
        line-height: 1.3;
        width: 90%;
        border-bottom: 2px solid black;
    }

    .text-shadow{
        text-shadow: 0 0 20px rgba(255,255,255,1);
    }

    .text-outline{
        
        --text-outline-blur-radius: 2px;
        --text-outline-color: rgb(29, 28, 28);
        
        text-shadow:
            -1px 1px var(--text-outline-blur-radius) var(--text-outline-color),
			1px 1px var(--text-outline-blur-radius) var(--text-outline-color),
		    1px -1px var(--text-outline-blur-radius) var(--text-outline-color),
            -1px -1px var(--text-outline-blur-radius) var(--text-outline-color);

    }


/*Backround image at top of page*/
header, .hero{
    background-color: var(--color-1-alpha-lighter); /*fallback*/
    background-image: url(../images/background-forest.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


/*HEADER*/
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 35px;
        padding-right: 35px;
        border: none;
        width: 100%;
    }

    header h1, header nav ul li{
        color: var(--color-2);
        font-weight: bolder;
        text-align: center;
    }

    header h1{
        margin-top: 20px;
        margin-bottom: 40px;
    }

    header nav{
        width: 100%;
    }

    header nav ul{
        display: flex;;
        justify-content: space-around;
        text-align: center;
        list-style: none;
        flex-wrap: wrap;
    }

    header nav ul li{
        flex-grow: 1;
        font-size: 40px;
    }


/*HERO*/
    .hero{
        border-top: none;
        display: flex;
        justify-content: center;
        text-align: center;
        height: 245px;
        padding-bottom: 0;
        align-items: center;
        border: none;
    }

    .hero-text{
        height: min-content;
        color: var(--color-3);
        background-color: var(--color-2);
        padding: 20px 25px;
        border-radius: var(--border-radius);
        border: 2px solid var(--color-3);
    }


/*MAIN*/
    main{
        display: flex;
        flex-direction: column;
        text-align: center;
        flex-wrap: wrap;
    }

    main section{
        padding: 60px;
    }
    

    /*About*/
        #about{
            background-image: linear-gradient(220deg, var(--color-1), var(--color-1-alpha-lighter));
        }
    
        .headshot{
            width: 35%;
            margin: 10px 0 20px;
        }

        .bio{
            width: 77%;
            display: inline-block;
            text-align: left;
            line-height: 1.3;
        }


    /*Work*/
        #work{
            background-image: radial-gradient(var(--color-2), var(--color-2-alpha));
        }    

        #work .right-col{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #work a{
            margin: 25px 0;
            width: 80%;
        }

        .project{
            border: 5px solid var(--color-1);
            display: flex;
            align-items: center;
            background-size: cover;
            min-height: 250px;
            height: 10vw; /*Given min-height, this will only apply to very large screens*/
        }

        .project-text-wrapper{
            text-align: left;
            line-height: 1.3;
            color: var(--color-3);
            background-color: var(--color-1-alpha-darker);
            border: 3px solid var(--color-1);
            border-left: none;
            padding: 8px 15px;
            margin-top: 90px;
        }

        .project-coding-language{
            font-style: italic;
            font-size: 16px;
        }

        #work a:nth-of-type(1) .project{
            background-image: url(../images/project-background-imgs/project-background-img-1.jpg);
        }
        #work a:nth-of-type(2) .project{
            background-image: url(../images/project-background-imgs/project-background-img-2.jpg);
        }
        #work a:nth-of-type(3) .project{
            background-image: url(../images/project-background-imgs/project-background-img-3.jpg);
        }
        #work a:nth-of-type(4) .project{
            background-image: url(../images/project-background-imgs/project-background-img-4.jpg);
        }
        #work a:nth-of-type(5) .project{
            background-image: url(../images/project-background-imgs/project-background-img-5.jpg);
        }


    /*Contact*/
        #contact{
            background-image: linear-gradient(40deg, var(--color-1), var(--color-1-alpha-lighter));
            display: flex;
            flex-direction: column;
        }
    
        .contact-info{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .contact-info a, .contact-info img{
            display: inline-block;
            vertical-align: middle;
        }

        .contact-info a{
            font-size: 22px;
            margin: 12px 0;
            background-color: var(--color-3);
            width: fit-content;
            padding: 10px 15px;
            border-radius: var(--border-radius);
            border: 2px solid black;
        }

        .contact-info a:first-child{
            margin-top: 0;
        }
        
        .contact-info img{
            height: 25px;
        }


/*FOOTER*/
    footer{
        background-image: linear-gradient(270deg, var(--color-2), var(--color-2-alpha));
    }

    footer h5{
        text-align: center;
        line-height: 1.2;
        font-weight: normal;
        padding: 10px 0;
    }

    footer h5 span{
        border-right: 2px solid black;
    }


/*MEDIA QUERY FOR SMALL TABLETS AND LARGER*/
    @media screen and (min-width: 575px){
        
        .hero-text{
            font-size: 30px;
        }
        
        .contact-info a{
            font-size: 22px;
        }

        footer h5{
            font-size: 22px;
        }

    }


/*MEDIA QUERY FOR SMALL DESKTOP SCREENS AND LARGER*/
    @media screen and (min-width: 768px){


        /*Header*/
            header{
                flex-direction: row;
            }

            header h1{
                text-align: left;
                font-size: 40px;
                margin: 30px 0;
                flex-grow: 6;
                flex-shrink: 1;
            }

            header nav{
                flex-basis: content;
                flex-grow: 5;
                flex-shrink: 3;
            }
            
            header nav ul{
                justify-content: right;
            }
            
            header nav ul li{
                font-size: 32px;
            }
        

        /*Hero*/
            .hero{
                height: 45vh;
            }

            .hero-text{
                font-size: 25px;
            }


        /*MAIN*/
            main section{
                display: flex;
                flex-direction: row !important; /*Is this "important" really necessary?*/
                padding-left: 30px;
                padding-right: 30px;
            }

            .section-title{
                text-align: right;
                border-right: 2px solid black;
                border-bottom: none;
                padding-right: 25px;
                min-width: 20vw;
                height: 100%;
                font-size: 35px;
            }

            .left-col{
                flex-basis: min-content;
                flex-grow: 0;
            }

            .right-col{
                padding-left: 45px;
            }


            /*About*/
                .headshot{
                    width: 30%;
                }
                
                .bio{
                    width: 82%;
                    font-size: 18px;
                }


            /*Work*/
                #work .right-col{
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }
                
                #work a{
                    margin: 20px 0;
                }

                #work a:first-child{
                    flex-basis: 100%;
                }
                #work a:first-child .project{
                    min-height: 325px;
                }
                #work a:first-child .project-text-wrapper{
                    margin-top: 130px;
                }
                
                
                #work a:not(:first-child){
                    flex-basis: 45%;
                    flex-grow: 0;
                }


            /*Contact*/
                #contact .right-col{
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    text-align: center;
                }
                .contact-info a{
                    font-size: 18px;
                    margin-left: 5px;
                    margin-right: 5px;
                }
                .contact-info a:first-child{
                    margin-top: 12px;
                }
                .contact-info img{
                    height: 22px;
                }
        

    }


/*MEDIA QUERY FOR LARGER DESKTOP SCREENS*/
    @media screen and (min-width: 980px){
        
    }