
/*GENERAL RULES*/
    h1{
        font-size: 55px;
    }

    h2{
        font-size: 45px;
    }

    h3{
        font-size: 35px;
    }

    h4{
        font-size: 30px;
    }

    p{
        font-size: 20px;
    }

    a{
        text-decoration: none;
    }

    * {
        box-sizing: border-box;
    }

    header, section, main, footer{
        padding: 30px;
    }

    .section-title{
        margin-bottom: 30px;
        border-bottom: 2px solid black;
    }


/*HEADER*/
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 35px;
        padding-right: 35px;
    }

    header h1{
        margin-bottom: 30px;
    }

    header nav{
        width: 100%;
    }

    header nav ul{
        display: flex;;
        justify-content: space-around;
        text-align: center;
        list-style: none;
    }

    header nav ul li{
        flex-grow: 1;
        font-size: 40px;
    }


/*MAIN*/
    main{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    

    /*About*/
        #about .headshot{
            width: 35%;
            margin: 10px 0 20px;
        }

        #about p{
            padding: 0 30px;
            text-align: left;
        }


    /*Contact*/
        #contact{
            display: flex;
            flex-direction: column;
        }
    
        .contact-info{
            display: flex;
            flex-direction: column;
            align-items: right;
            text-align: center;
        }

        .contact-info a, .contact-info img{
            display: inline-block;
            vertical-align: middle;
        }

        .contact-info a{
            font-size: 28px;
            line-height: 1.6;
        }
        
        .contact-info img{
            height: 25px;
        }


/*FOOTER*/
    footer h4{
        text-align: center;
        line-height: 1.2;
    }