
/*GENERAL RULES*/
    h1{
        font-size: 55px;
    }

    h2{
        font-size: 45px;
    }

    h3{
        font-size: 35px;
    }

    h4{
        font-size: 30px;
    }

    p{
        font-size: 25px;
    }

    a{
        text-decoration: none;
    }

    * {
        box-sizing: border-box;
        font-family: Helvetica, Arial, monospace;
    }

    header, section, main, footer{
        padding: 30px;
    }

    .section-title{
        margin: 0 auto 30px;
        line-height: 1.3;
        width: 80%;
        border-bottom: 2px solid black;
    }


/*Backround image at top of page*/
header, .hero{
    background-image: url(../images/background-forest.jpg);
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


/*HEADER*/
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 35px;
        padding-right: 35px;
        border: none;
    }

    header h1{
        margin-top: 20px;
        margin-bottom: 40px;
    }

    header nav{
        width: 100%;
    }

    header nav ul{
        display: flex;;
        justify-content: space-around;
        text-align: center;
        list-style: none;
    }

    header nav ul li{
        flex-grow: 1;
        font-size: 40px;
    }


/*HERO*/
    .hero{
        border-top: none;
        display: flex;
        justify-content: center;
        text-align: center;
        height: 250px;
        padding-bottom: 0;
        align-items: center;
        border: none;
    }

    .hero-text{
        height: min-content;
        background-color: #f2e453; /*Placeholder color*/
        padding: 15px;
        border-radius: 25px;
    }


/*MAIN*/
    main{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    

    /*About*/
        #about .headshot{
            width: 35%;
            margin: 10px 0 20px;
        }

        #about p{
            padding: 0 30px;
            text-align: left;
        }


    /*Work*/
        #work{
            display: flex;
            flex-direction: column;
            align-items: center;
        }    

        .project{
            border: 5px solid green; /*placeholder color*/
            width: 75%;
            height: 400px;
            margin: 25px 0;
            display: flex;
            align-items: center;
            background-size: cover;
        }

        .project-text-wrapper{
            text-align: left;
            padding: 15px;
            height: min-content;
            margin-top: 125px;
            border: 3px solid green;
            border-left: none;
            line-height: 1.3;
        }

        .project-coding-language{
            font-style: italic;
        }

        .project:nth-of-type(1){
            background-image: url(../images/project-background-imgs/project-background-img-1.jpg);
        }
        .project:nth-of-type(2){
            background-image: url(../images/project-background-imgs/project-background-img-2.jpg);
        }
        .project:nth-of-type(3){
            background-image: url(../images/project-background-imgs/project-background-img-3.jpg);
        }
        .project:nth-of-type(4){
            background-image: url(../images/project-background-imgs/project-background-img-4.jpg);
        }
        .project:nth-of-type(5){
            background-image: url(../images/project-background-imgs/project-background-img-5.jpg);
        }


    /*Contact*/
        #contact{
            display: flex;
            flex-direction: column;
        }
    
        .contact-info{
            display: flex;
            flex-direction: column;
            align-items: right;
            text-align: center;
        }

        .contact-info a, .contact-info img{
            display: inline-block;
            vertical-align: middle;
        }

        .contact-info a{
            font-size: 28px;
            line-height: 1.6;
        }
        
        .contact-info img{
            height: 25px;
        }


/*FOOTER*/
    footer h4{
        text-align: center;
        line-height: 1.2;
        font-weight: normal;
    }